ul{
    list-style-type: none;
    padding:0px;
    background-color: grey;
    display: inline-block;
    text-align: center;
    margin:0;
}
li a{
    display: inline-block;
    text-align: center;
    padding:5px 108px;
}

li a:hover{
    background-color: royalblue;
}
li.dropdown{
    display: inline-block;
}
.dropdown-content{
    display: none;
    position: absolute;
    min-width:100px; 
    background-color: blue
}
.dropdown-content a{
    display: block;
    text-align: left;
    text-decoration: none;
    color: white;

}
.dropdown:hover  .dropdown-content{
    display: block;
}
